<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список сообщений</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
<hr>
<form method="POST" th:action="@{/main}">
    <input type="text" name="text" placeholder="Введите сообщение">
    <input type="text" name="tag" placeholder="Введите тег">
    <input type="submit" value="Добавить">
</form>

<h3>Список сообщений</h3>
<form method="POST" th:action="@{/filter}">
    <input type="text" name="search tag" placeholder="Введите тег для поиска">
    <input type="submit" value="Поиск по тегу">
</form>

<div th:each="message : ${messageList}">
    <b th:text="${message.getId()}"></b>
    <span th:text="${message.getText()}"></span>
    <i th:text="${message.getTag()}"></i>
    <strong th:text="${message.getAuthorName()}"></strong>
</div>
</body>
</html>